HELP.md

### Maven / build ###
**/target/
!**/.mvn/wrapper/maven-wrapper.jar
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
.nb-gradle/
**/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Secretos locales ###
.env
.env.*
!.env.example
application-local.properties
application-local.yml
**/Wallet_DUOCUC/
**/wallet/

### EFS local ###
**/efs-data/*
!**/efs-data/.gitkeep

### Docker local ###
docker-compose.override.yml

### Sistema operativo ###
.DS_Store
Thumbs.db

### Documentación del curso ###
*.pdf
*.docx